.more-inspirations{
  padding: 20px;
  align-content: center;
}

.btn.more-inspirations__button{
  color: #282c34;
  background-color: white;
  border-width: thin;
  border-color: #282c34;
  border-radius: 0px;
  font-weight: bold;
}

.btn.more-inspirations__button:hover{
  background-color: goldenrod;
  color: white;
  border-color: goldenrod;
}

.col.image-column{
  padding: 0px;
  width: 33%;
  height: 200px;
}
