
.navigation-background {
  background-image: url(../assets/cover-picture.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1200px;
  margin: -300px 0px 0px -100px
}



.description {
  background-image: url(../assets/hall-intro.jpg);
  background-position: 5% 40%;
  background-repeat: no-repeat;
  height: 1200px;
}
