.navigation-background.row {
  background-image: url(../../assets/cover-picture2.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 1000px;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 30px;
}

.logo{
  height:10%;
  width: auto;
  padding: 0px 40px 40px 40px;
}

.btn.submit-design{
  color: #282c34;
  background-color: white;
  border-width: thin;
  border-color: #282c34;
  border-radius: 20px
}

.btn.submit-design:hover{
  background-color: goldenrod;
  color: white;
  border-color: goldenrod;
}

.submit-design-column{
  padding-top: 10px;
}

.description-column{
  padding-top: 20px;
}

.company-name-column{
  padding-top: 220px;
}
